/* ! Next.css */

.next-component {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px;
  font-family: Arial, sans-serif;
}

body
{
    background-color: white;
    width: 70%;
    height: 100%;
}